*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: none;
}
.container .header{
    width: 100%;
    height: 900px;
    background: url(./img/Untitled-1\ 2.png);
}
.container .header .h1_1{
    position: absolute;
width: 462px;
height: 62px;
left: 114px;
top: 297px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 120%;
/* or 62px */


color: #FFFFFF;
}
.container .header .p_1{
    position: absolute;
width: 601px;
height: 80px;
left: 114px;
top: 369px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 141.5%;
/* or 40px */


color: #FFFFFF;
}
.container .header .b_1{
    box-sizing: border-box;

position: absolute;
width: 280.87px;
height: 78.5px;
left: 114px;
top: 515px;

background: rgba(255, 255, 255, 0.02);
border: 0.84315px solid #A6A7A8;
box-shadow: 0px 43.0007px 96.9622px rgba(166, 167, 168, 0.06);
border-radius: 47.2164px;
}
.container .header .b_1 .img_1{
    position: absolute;
left: 39.69;
right: 224.61px;
top: 30.97px;
bottom: 10.42%;
}
.container .header .b_1 .h1_2{
    position: absolute;
width: 124.73px;
height: 18.32px;
left: 77.63px;
top: 29.66px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 13.4904px;
line-height: 128.2%;

color: #A6A7A8;
}
.container .header .b_2{
    position: absolute;
width: 280.87px;
height: 78.5px;
left: 423px;
top: 515px;

border: none;

background: #0BD7B8;
box-shadow: 0px 55.6073px 125.389px rgba(11, 215, 184, 0.15);
border-radius: 61.059px;
}
.container .header .b_2 .h1_3{
    position: absolute;
width: 228.97px;
height: 20.72px;
left: 26px;
top: 29px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 17.4454px;
line-height: 128.2%;


color: rgba(26, 31, 44, 0.89);
}
.container .header .h1_4{
    position: absolute;
width: 190px;
height: 33.35px;
left: 1170px;
top: 60px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25.8228px;
line-height: 128.2%;

color: #FFFFFF;
}
.container .header .h1_5{
    position: absolute;
width: 159.24px;
height: 33.35px;
left: 1170px;
top: 90px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25.8228px;
line-height: 128.2%;



color: #FFFFFF;
}
.container .header .h1_5 .span_1{
    color: #0BD7B7;
}
.container .section{
    width: 100%;
    height: 1795px;
    background-color: rgb(24, 29, 41);
}
.container .section .div_1{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 290px;
left: 20px;
top: 1028px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
border-radius: 32px;
}
.container .section .div_2{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 290px;
left: 365px;
top: 1028px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);


border-radius: 32px;
}
.container .section .div_3{
    
box-sizing: border-box;

position: absolute;
width: 322px;
height: 290px;
left: 712px;
top: 1028px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);


border-radius: 32px;

}
.container .section .div_4{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 290px;
left: 1050px;
top: 1028px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);


border-radius: 32px;
}
.container .header .discount{
    position: absolute;
    width: 375px;
    height: 158px;
    left: 1000px;
    top: 812px;
    
    background: #FE4D4D;
    border-radius: 25px;
}
.container .header .discount .img_2{
    position: absolute;
left: 20px;
right: 0px;
top: 30px;
bottom: 3.32%;
}
.container .header .discount .p_2{
    position: absolute;
width: 259px;
height: 114px;
left: 115px;
top: 20px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #FFFFFF;
}
.container .section .div_1 .img_3{
    position: absolute;
left: 128.19px;
right: 128.19px;
top: 50.65px;
bottom: 15.37%;

}
.container .section .div_2 .img_4{
    position: absolute;
left: 135px;
right: 142.65px;
top: 45.83px;
bottom: 8.33%;
}
.container .section .div_3 .img_5{
    position: absolute;
left: 131.83px;
right: 131.83px;
top: 47.29px;
bottom: 10.42%;
}
.container .section .div_4 .img_6{
    position: absolute;
left: 136.21px;
right: 136.21;
top: 45.83px;
bottom: 8.33%;
}
.container .section .div_1 .h1_6{
    position: absolute;
width: 96px;
height: 31px;
left: 110px;
top: 110px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 128.2%;


text-align: center;

color: #FFFFFF;
}
.container .section .p_3{
    position: absolute;
    width: 262px;
    height: 75px;
    left: 30px;
    top: 170px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 139.7%;
    
    
    text-align: center;
    
    color: #BBBBBB;
}
.container .section .h1_7{
    position: absolute;
width: 160px;
height: 31px;
left: 90px;
top: 120px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 128.2%;


text-align: center;

color: #FFFFFF;
}
.container .section .p_4{
    position: absolute;
    width: 262px;
    height: 75px;
    left: 30px;
    top: 190px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 139.7%;
    
    
    text-align: center;
    
    color: #BBBBBB;
}
.container .section .h1_8{
    position: absolute;
width: 96px;
height: 31px;
left: 90px;
top: 130px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 128.2%;


text-align: center;

color: #FFFFFF;
}
.container .section .p_5{
    position: absolute;
    width: 262px;
    height: 75px;
    left: 30px;
    top: 170px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 139.7%;
    
    
    text-align: center;
    
    color: #BBBBBB;
}
.container .section .h1_9{
    position: absolute;
width: 96px;
height: 50px;
left: 80px;
top: 115px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 128.2%;


text-align: center;

color: #FFFFFF;
}
.container .section .p_6{
    position: absolute;
    width: 262px;
    height: 75px;
    left: 30px;
    top: 185px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 139.7%;
    
    
    text-align: center;
    
    color: #BBBBBB;
}
.container .section .div_5{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 10px;
top: 1675px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_5 .h1_10{
    position: absolute;
width: 216px;
height: 31px;
left: 53px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_5 .b_3 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_5 .b_3 .h1_11{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .section .div_6{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 345px;
top: 1675px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_6 .h1_12{
    position: absolute;
width: 216px;
height: 31px;
left: 53px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_6 .b_4 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_6 .b_3 .h1_13{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .section .div_7{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 680px;
top: 1675px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_7 .h1_14{
    position: absolute;
width: 216px;
height: 31px;
left: 53px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_7 .b_5 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_7 .b_5 .h1_15{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .section .div_8{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 1015px;
top: 1675px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_8 .h1_16{
    position: absolute;
width: 240px;
height: 31px;
left: 53px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_8 .b_6 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_8 .b_3 .h1_17{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .section .div_9{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 10px;
top: 2078px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_9 .h1_18{
    position: absolute;
width: 216px;
height: 31px;
left: 53px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_9 .b_7 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_9 .b_3 .h1_19{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .section .div_10{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 345px;
top: 2078px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_10 .h1_20{
    position: absolute;
width: 216px;
height: 31px;
left: 63px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_10 .b_8 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_10 .b_3 .h1_21{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .section .div_11{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 680px;
top: 2078px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_11 .h1_22{
    position: absolute;
width: 216px;
height: 31px;
left: 53px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_11 .b_9 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_11 .b_9 .h1_23{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .section .div_12{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 363px;
left: 1015px;
top: 2078px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(255, 255, 255, 0.07);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 32px;
}
.container .section .div_12 .h1_17{
    position: absolute;
width: 216px;
height: 31px;
left: 53px;
top: 212px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.2%;

text-align: center;

color: #FFFFFF;
}
.container .section .div_12 .b_10 {
    position: absolute;
width: 232px;
height: 52px;
left: 45px;
top: 279px;

border: none;

background: #0BD7B8;
box-shadow: 0px 20px 85px rgba(11, 215, 184, 0.2);
border-radius: 61.059px;
}
.container .section .div_12 .b_10 .h1_24{
    position: absolute;
width: 107px;
height: 23px;
left: 63px;
top: 15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 128.2%;
/* identical to box height, or 23px */

text-align: center;

color: #1A1F2C;
}
.container .footer{
    position: absolute;
width: 1375px;
height: 772px;
background-color: rgb(24, 29, 41);;
}
.container .footer .p_7{
    position: absolute;
width: 612px;
height: 96px;
left: 751px;
top: 33px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 134.7%;
/* or 48px */


color: #FFFFFF;
}
.container .footer .p_7 .span_2{
    color: #08D7B8;
}
.container .footer .inp_1{
    box-sizing: border-box;

    position: absolute;
    width: 280.87px;
    height: 78.5px;
    left: 751px;
    top: 197px;
    padding-left: 40.63px;
    background: rgba(255, 255, 255, 0.02);
    border: 0.84315px solid #A6A7A8;
    box-shadow: 0px 43.0007px 96.9622px rgba(166, 167, 168, 0.06);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 47.2164px;
}
.container .footer .inp_2{
    position: absolute;
    width: 280.87px;
    height: 78.5px;
    left: 1064px;
    top: 197px;
    padding: 41;
    background: rgba(255, 255, 255, 0.02);
    border: 0.84315px solid #A6A7A8;
    box-shadow: 0px 43.0007px 96.9622px rgba(166, 167, 168, 0.06);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 47.2164px;
}
.container .footer .inp_3{
    box-sizing: border-box;

position: absolute;
width: 594px;
height: 273px;
left: 751px;
top: 387px;
padding-left: 42px;
padding-top: none;
background: rgba(255, 255, 255, 0.02);
border: 0.84315px solid #A6A7A8;
box-shadow: 0px 43.0007px 96.9622px rgba(166, 167, 168, 0.06);
backdrop-filter: blur(10px);


border-radius: 24px;
}
.container .footer .p_8{
    position: absolute;
width: 314px;
height: 69px;
left: 764px;
top: 691px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 128.2%;



color: #FFFFFF;
}
.container .footer .b_11{
    position: absolute;
width: 237px;
height: 79px;
left: 1120px;
top: 691px;
background: #0BD7B8;
box-shadow: 0px 55.6073px 125.389px rgba(11, 215, 184, 0.15);
border-radius: 61.059px;
border: none;
}
.container .footer .b_11 .h1_25{
    position: absolute;
width: 106px;
height: 21px;
left: 65px;
top: 29px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 17.4454px;
line-height: 128.2%;
/* or 22px */


color: rgba(26, 31, 44, 0.89);
}